{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{{ profile_image }}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    <a href="{% url 'profile edit ' pk=object.pk %}">
                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                    </a>

                    <a href="{% url 'profile delete' pk=object.pk %}">
                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                    </a>

                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>4</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>7</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>436</span>
                    <p>likes</p>
                </div>
                <!-- User First and Last Name IF Added -->
                <h3 class="names">{{ object.full_name }}</h3>

                <!-- User Email Address -->
                <p class="email">{{ object.email}}</p>

                <!-- User Gender IF Added -->
                {% if object.gender != 'DO_NOT_SHOW' %}
                <p class="gender">{{ object.gender }}</p>
                {% endif %}
            </div>
        </div>

        <div class="pets">
            <div class="statuses">
                {% for pet in pets %}
                <a href="{% url 'pet details' username=object.username pet_name=pet.slug %}">
                    <div class="head-pet">
                        <div class="status">
                            <div class="image">
                                <img src="{{ pet.personal_photo }}" alt="pet img">
                            </div>
                        </div>
                            <p>{{ pet.name }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="pet-photos">
            {% for photo in object.photo_set.all %}
            <a href="{% url 'photo details' pk=photo.pk %}">
                <img src="{{ photo.photo.url }}" alt="pet img">
            </a>
            {% endfor %}
        </div>

    </div>

{% endblock %}