{% extends 'base/base.html' %}
{% block content %}
    <!-- Summary -->
    {% if expenses %}
        <div>
            <h1>Summary</h1>
            <ul class="expenses-list">
                <!-- User Budget -->
                <li class="blue">{{ profile.budget|floatformat:2 }}$</li>

                {% for expense in expenses %}
                    <li class="red"> - {{ expense.price|floatformat:2 }}$</li>
                {% endfor %}

                <!-- Money Left -->
                <li class="green">= {{ profile.budget_left|floatformat:2 }}$ left</li>
            </ul>
        </div>
    {% endif %}
    <!-- End Summary -->

    <!-- Headline My Expenses -->
    <h1>My Expenses</h1>
    <!-- Add Expense Button -->
    <a class="button add" href="{% url 'create expense' %}">Add Expense</a>

    {% if expenses %}
        <div class="expenses-container">

            {% for expense in expenses %}

                <div class="expense-container">
                    <h2>{{ expense.title }}</h2>
                    <img src="{{ expense.expense_image }}" alt="description">
                    <p>{{ expense.description }}a</p>
                    <div class="expense-detail">
                        <div>
                            <p>Price: {{ expense.price|floatformat:2 }}$</p>
                        </div>
                        <div class="right">
                            <a class="button edit" href="{% url 'edit expense' expense.pk %}">Edit</a>
                            <a class="button delete" href="{% url 'delete expense' expense.pk %}">Delete</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    {% endif %}

{% endblock %}
